## Part I: Exploratory analysis (3 points)

Read the dataset correctly using pandas, using an appropriate column as index (1 point)

In [81]:
# importing the pandas module
import pandas as pd

#loading the train.csv into a pandas dataframe
train = pd.read_csv("train.csv")

#setting the PassengerID column as index. it is appropriate as it has unique identifiers
train = train.set_index("PassengerId")

# returning the first 5 rows
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [82]:
train.shape

(891, 11)

Compute the percentage of survivors out of total number of passengers...

In [83]:
# calculating the percentage of "Survived" by calculating the mean of survived(1) + (not)survived(0) * 100
pct_survivors = train["Survived"].mean() * 100

#printing percentage, rounding to two decimals
print(f"{round(pct_survivors,2)}% survived.")

38.38% survived.

...and the percentage of men and women out of total number of passengers (0.5 points)

In [84]:
#group by survived
passengers = train.Sex.value_counts()

#calculate perventage of male
pct_male = (passengers["male"] / (passengers["female"] + passengers["male"])) * 100
#calculate perventage of survived
pct_female = (passengers["female"] / (passengers["female"] + passengers["male"])) * 100

#printing percentages, rounding to two decimals
print(f"Males of all passengers: {round(pct_male,2)}%") 
print(f"Females of all passengers: {round(pct_female,2)}%")

Males of all passengers: 64.76%
Females of all passengers: 35.24%

Compute the percentage of survivors by sex (i.e. the percentage of male passengers that survived and female passengers that survived)...

In [85]:
#group by survived and sex
group_by_sex_sur = train.groupby(['Survived', 'Sex'])
male_survivors = len(list(group_by_sex_sur )[3][1])
female_survivors = len(list(group_by_sex_sur )[2][1])

#group by sex to
group_by_sex= train.groupby(['Sex'])
male_all = len(list(group_by_sex)[1][1])
female_all = len(list(group_by_sex)[0][1])

print('Male Survivors from all males = ' + str("{:.2f}".format((male_survivors/male_all)*100)) + '%')
print('Female Survivors from all females = ' + str("{:.2f}".format((female_survivors/female_all)*100)) + '%')

Male Survivors from all males = 18.89%
Female Survivors from all females = 74.20%

...and the sex distribution of survivors (i.e. percentage of survivors that were men and percentage of survivors that were women) (0.5 points)

In [86]:
#group by survived
group = train.groupby(['Survived', 'Sex'])


females_in_survivors = len((list(group)[2][1]).index)
males_in_survivors = len((list(group)[3][1]).index)
no_all_survivors = females_in_survivors + males_in_survivors

pct_females_in_survivors = (females_in_survivors / no_all_survivors) * 100
pct_males_in_survivors = (males_in_survivors / no_all_survivors) * 100

print(f"Female survivors of all survivors: {round(pct_females_in_survivors,2)}%") 
print(f"Male survivors of all survivors: {round(pct_males_in_survivors,2)}%")

Female survivors of all survivors: 68.13%
Male survivors of all survivors: 31.87%

Display in a 2 x 2 DataFrame the probability of being male/female and surviving/not surviving (0.5 points)

One possible option:

|            | **Survived**      | **Not survived**      |
|------------|-------------------|-----------------------|
| **Male**   | Male & Survived   | Male & Not survived   |
| **Female** | Female & Survived | Female & Not survived |

Notice that the sum of all values in the table above should be 1 (or 100 %).

In [87]:
# First approach, without adding a new column.
probabilities = pd.DataFrame(columns = ["Survived", "Not survived"], index = ["Male", "Female"])

female_not_survivors = len((list(group)[0][1]).index)
male_not_survivors = len((list(group)[1][1]).index)

pct_female_not_survivors = (female_not_survivors / no_all_pax) * 100
pct_male_not_survivors = (male_not_survivors / no_all_pax) * 100

probabilities.iloc[0,0] = round(pct_male_survivors,2)
probabilities.iloc[0,1] = round(pct_male_not_survivors,2)
probabilities.iloc[1,0] = round(pct_female_survivors,2)
probabilities.iloc[1,1] = round(pct_female_not_survivors,2)

print("Probability of surviving by sex in %")
probabilities

Probability of surviving by sex in %

       Survived Not survived
Male      12.23        52.53
Female    26.15         9.09

In [88]:
# Second approach, adding a new column
survived = train['Survived'].tolist()

not_survived = []

for i in survived:
    if i == 0:
        not_survived.append(1)
    else:
        not_survived.append(0)
train['Not survived'] = not_survived

print("Probability of surviving by sex in %")
Psurviving = train.groupby(['Sex'])['Survived', 'Not survived'].agg('sum').div(no_all_pax / 100).round(2)
Psurviving.index.name = None
Psurviving

Probability of surviving by sex in %

C:\Users\FerSu\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

        Survived  Not survived
female     26.15          9.09
male       12.23         52.53

In [89]:
# checking if sum of all values = 100

import numpy as np
probabilities.to_numpy().sum()

100.0

Display in a DataFrame the probability of survival/not survival of all combinations of sex and class (0.5 points)

One possible option:

|            |   | **Survived**              | **Not survived** |
|------------|---|---------------------------|------------------|
| **Male**   | 1 | Male & Survived & Class 1 | ...              |
|            | 2 | Male & Survived & Class 2 | ...              |
|            | 3 | Male & Survived & Class 3 | ...              |
| **Female** | 1 | ...                       | ...              |
|            | 2 | ...                       | ...              |
|            | 3 | ...                       | ...              |

Notice that the sum of all values in the table above should be 1 (or 100 %).

In [90]:
print("Probability of surviving by all combinations of sex and class in %")

#Group by Sex, Class, Survived, not Survived.
probabilities_with_classes = train.groupby(['Sex','Pclass'])['Survived', 'Not survived'].agg('sum').div(no_all_pax / 100).round(2)
probabilities_with_classes.index.names = [None, None]
probabilities_with_classes

Probability of surviving by all combinations of sex and class in %

C:\Users\FerSu\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

          Survived  Not survived
female 1     10.21          0.34
       2      7.86          0.67
       3      8.08          8.08
male   1      5.05          8.64
       2      1.91         10.21
       3      5.27         33.67

In [91]:
# checking if sum of all values = 100
print(probabilities_with_classes.to_numpy().sum())

99.99

## Part II: More insights on the data (3 points)

Present 3 insights about the dataset, each of them relating at least 3 different variables, and support them by code and numbers. Possible examples:

- "**Men** aged **less than 18** were more/less likely to **survive** than the average passenger" (Sex, Age, Survival)
- "**Women** with **no siblings or spouses** paid on average a cheaper/pricier **ticket** than the average woman" (Sex, SibSp, Fare)
- "**Men** with a **title other than Mr.** were more/less likely to have a known (i.e. non-missing) **cabin** than the average man" (Sex, Name, Cabin)

(Using these exact examples is valid, but awards fewer points than proposing original insights)

_Hint: If you want to work with lists and dictionaries rather than pandas objects, you can do_

```python
recs = df.to_dict(orient="records")
```

In [92]:
train

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Not survived
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,1
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,1

In [93]:
"""
Three insights:
    1. "Men paying more than 10 were more/less likely to survive than the average passenger" (Sex, Fare, Survival)
    2. "Woman aged less than 35 paid a cheaper/pricier ticket than the average" (Sex, Fare, Age)
    3. "Men having SibSp with lastname starting with G" (Sex, Sibsp, Name, age)

"""

'\nThree insights:\n    1. "Men paying more than 10 were more/less likely to survive than the average passenger" (Sex, Fare, Survival)\n    2. "Woman aged less than 35 paid a cheaper/pricier ticket than the average" (Sex, Fare, Age)\n    3. "Men having SibSp with lastname starting with G" (Sex, Sibsp, Name, age)\n\n'

In [94]:
# 1. "Men paying more than 10 were more/less likely survive than the average passenger" (Sex, Fare, Survival)
df_sex = train["Sex"] == "male"
df_fare = train["Fare"] < 10
df_survival = train["Survived"] == 1

men_paying_more_than_10 = train[df_fare & df_sex]["Survived"].mean() * 100
overall_average = train["Survived"].mean() * 100

print(f"""
{round(men_paying_more_than_10,2)} % of men paying more than 10 survived. 
The overall average was {round(overall_average,2)}%.
""")

10.66 % of men paying more than 10 survived.
The overall average was 38.38%.

In [95]:
# 2. "Woman aged less than 35 paid a cheaper/pricier ticket than the average" (Sex, Fare, Age)

df_sex = train["Sex"] == "female"
df_age = train["Age"] < 35
women_aged_less_35 = train[df_sex & df_age]["Fare"].mean()
overall_average = train["Fare"].mean()

print(f"""
Women aged less than 35 paid on average {round(women_aged_less_35,2)}
The overall average was {round(overall_average,2)}
""")

Women aged less than 35 paid on average 38.69
The overall average was 32.2

In [96]:
# 3. "Men having SibSp with lastname starting with G are older/younger than the average" (Sex, Sibsp, Name, age)


df_sex = train["Sex"] == "male"
df_SibSp = train["SibSp"] == 1
df_name = train["Name"].str[0] == "G"

men_SibSp_G = train[df_sex & df_SibSp & df_name]["Age"].mean()
overall_average = train["Age"].mean()

print(f"""
Men with SipSp with lastname starting with G were on average {round(men_SibSp_G,2)} years old.
The overall average was {round(overall_average,2)} years.
""")

Men with SipSp with lastname starting with G were on average 34.25 years old.
The overall average was 29.7 years.